$invalid-control-font-color: #ff0000;

.sign-in {
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form {
    max-width: 500px;
    width: 100%;

    @media screen and (max-width: 415px) {
      max-width: 90%;
    }
  }
}

.invalid-control {
  font-size: 0.8rem;
  color: $invalid-control-font-color;
  margin-top: 10px;
}